In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [7]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [8]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df[['X','W']]

          X         W
A  0.628133  2.706850
B -0.319318  0.651118
C  0.740122 -2.018168
D -0.758872  0.188695
E  1.978757  0.190794

In [11]:
df.style

In [14]:
def color_negative_red(val):
    color = 'red' if val < 0 else 'black'
    return 'color: %s' %color