In [1]:
import numpy as np

In [23]:
import pandas as pd

In [25]:
from numpy.random import randn

In [16]:
# Index Levels
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [26]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [27]:
df

             A         B
G1 1 -0.352843 -0.390398
   2 -0.629878  0.044986
   3 -0.416654 -2.090524
G2 1  0.677287 -0.878088
   2 -0.017949 -0.744696
   3  0.570131 -0.704835

In [28]:
df.loc['G1']

          A         B
1 -0.352843 -0.390398
2 -0.629878  0.044986
3 -0.416654 -2.090524

In [32]:
df.loc['G1'].loc[1]

A   -0.352843
B   -0.390398
Name: 1, dtype: float64

In [33]:
df.index.names = ['Groups','Num']

In [34]:
df

                   A         B
Groups Num
G1     1   -0.352843 -0.390398
       2   -0.629878  0.044986
       3   -0.416654 -2.090524
G2     1    0.677287 -0.878088
       2   -0.017949 -0.744696
       3    0.570131 -0.704835

In [36]:
# use crossection to select
df.xs(1,level='Num')

               A         B
Groups
G1     -0.352843 -0.390398
G2      0.677287 -0.878088